<?xml version="1.0" encoding="utf-8"?>
<world>
	<item name="ground"
		  x="0"
		  y="0"
		  z="0"
		  scale="5"
		  rotationY="0"
		  geometry="ground"
		  material="groundbmp"/>
	<item name="house"
		  x="-0.225"
		  y="0"
		  z="0"
		  scale="0.006"
		  rotationY="10"
		  geometry="house"
		  material="HOUSE"/>
	<item name="bighouse"
		  x="0.225"
		  y="0"
		  z="0"
		  scale="2"
		  rotationY="-10"
		  geometry="bighouse"
		  material="bighouse"/>
	<item name="tree0"
		  x="0"
		  y="0"
		  z="0"
		  scale="1"
		  rotationY="180"
		  geometry="3d_tree_3"
		  material="3d_tree_3"/>
	<item name="tree1"
		  x="0.3"
		  y="0"
		  z="-0.3"
		  scale="1"
		  rotationY="180"
		  geometry="3d_tree_3"
		  material="3d_tree_3"/>
	<item name="tree2"
		  x="-0.45"
		  y="0"
		  z="0"
		  scale="1"
		  rotationY="180"
		  geometry="3d_tree_3"
		  material="3d_tree_3"/>
	<item name="building0"
		  x="-0.48"
		  y="0"
		  z="0.075"
		  scale="2"
		  rotationY="0"
		  geometry="3d_building_19"
		  material="3d_building_19"/>
	<item name="building1"
		  x="-0.555"
		  y="0"
		  z="0"
		  scale="2"
		  rotationY="-90"
		  geometry="3d_building_19"
		  material="3d_building_19"/>
	<item name="3d_crane_1"
		  x="0"
		  y="0"
		  z="0.4"
		  scale="5"
		  rotationY="10"
		  geometry="3d_crane_1"
		  material="3d_crane_1"/>
</world>